dataBase/WebContent/wsdl/usuarios.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://easytripdatabase.usp.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://easytripdatabase.usp.br" xmlns:intf="http://easytripdatabase.usp.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://easytripdatabase.usp.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAutenticacaoUsuario">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="senha" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAutenticacaoUsuarioResponse">
    <complexType>
     <sequence>
      <element name="getAutenticacaoUsuarioReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAutenticacaoUsuarioResponse">

      <wsdl:part element="impl:getAutenticacaoUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAutenticacaoUsuarioRequest">

      <wsdl:part element="impl:getAutenticacaoUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="usuarios">

      <wsdl:operation name="getAutenticacaoUsuario">

         <wsdl:input message="impl:getAutenticacaoUsuarioRequest" name="getAutenticacaoUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAutenticacaoUsuarioResponse" name="getAutenticacaoUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="usuariosSoapBinding" type="impl:usuarios">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAutenticacaoUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAutenticacaoUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAutenticacaoUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="usuariosService">

      <wsdl:port binding="impl:usuariosSoapBinding" name="usuarios">

         <wsdlsoap:address location="http://localhost:8081/dataBase/services/usuarios"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
